[Desktop Entry]
Name=ASUS ROG Mouse Driver
Icon=rog
Exec=rogdrv
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;HardwareSettings;
StartupNotify=false
